.DS_Store
node_modules
.turbo
*.log
.next
apps/figma-plugin/dist
apps/storybook/dist
packages/ui/dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
storybook-static/
packages/tokens/src/debug-tokens.json
packages/tokens/src/tokens.generated.ts
debug-storybook.log
apps/figma-plugin/coverage