@import "tailwindcss";

@theme {
  --color-gray-50: oklch(1.000 0.000 0.00);
  --color-gray-100: oklch(0.984 0.003 247.86);
  --color-gray-200: oklch(0.968 0.007 247.90);
  --color-gray-300: oklch(0.929 0.013 255.51);
  --color-gray-400: oklch(0.869 0.020 252.89);
  --color-gray-500: oklch(0.711 0.035 256.79);
  --color-gray-600: oklch(0.554 0.041 257.42);
  --color-gray-700: oklch(0.446 0.037 257.28);
  --color-gray-800: oklch(0.372 0.039 257.29);
  --color-gray-900: oklch(0.279 0.037 260.03);
  --color-gray-950: oklch(0.208 0.040 265.75);
  --color-blue-50: oklch(0.970 0.014 254.60);
  --color-blue-100: oklch(0.932 0.032 255.59);
  --color-blue-200: oklch(0.882 0.057 254.13);
  --color-blue-300: oklch(0.809 0.096 251.81);
  --color-blue-400: oklch(0.714 0.143 254.62);
  --color-blue-500: oklch(0.623 0.188 259.81);
  --color-blue-600: oklch(0.546 0.215 262.88);
  --color-blue-700: oklch(0.488 0.217 264.38);
  --color-blue-800: oklch(0.424 0.181 265.64);
  --color-blue-900: oklch(0.379 0.138 265.52);
  --color-blue-950: oklch(0.282 0.087 267.94);
  --color-green-50: oklch(0.982 0.018 155.83);
  --color-green-100: oklch(0.962 0.043 156.74);
  --color-green-200: oklch(0.925 0.081 155.99);
  --color-green-300: oklch(0.871 0.136 154.45);
  --color-green-400: oklch(0.800 0.182 151.71);
  --color-green-500: oklch(0.723 0.192 149.58);
  --color-green-600: oklch(0.627 0.170 149.21);
  --color-green-700: oklch(0.527 0.137 150.07);
  --color-green-800: oklch(0.448 0.108 151.33);
  --color-green-900: oklch(0.393 0.090 152.54);
  --color-green-950: oklch(0.266 0.063 152.93);
  --color-orange-50: oklch(0.980 0.016 73.68);
  --color-orange-100: oklch(0.954 0.037 75.16);
  --color-orange-200: oklch(0.901 0.073 70.70);
  --color-orange-300: oklch(0.837 0.117 66.29);
  --color-orange-400: oklch(0.758 0.159 55.93);
  --color-orange-500: oklch(0.705 0.187 47.60);
  --color-orange-600: oklch(0.646 0.194 41.12);
  --color-orange-700: oklch(0.553 0.174 38.40);
  --color-orange-800: oklch(0.470 0.143 37.30);
  --color-orange-900: oklch(0.408 0.116 38.17);
  --color-orange-950: oklch(0.266 0.076 36.26);
  --color-red-50: oklch(0.971 0.013 17.38);
  --color-red-100: oklch(0.936 0.031 17.72);
  --color-red-200: oklch(0.885 0.059 18.33);
  --color-red-300: oklch(0.808 0.103 19.57);
  --color-red-400: oklch(0.711 0.166 22.22);
  --color-red-500: oklch(0.637 0.208 25.33);
  --color-red-600: oklch(0.577 0.215 27.33);
  --color-red-700: oklch(0.505 0.190 27.52);
  --color-red-800: oklch(0.444 0.161 26.90);
  --color-red-900: oklch(0.396 0.133 25.72);
  --color-red-950: oklch(0.258 0.089 26.04);
  --color-purple-50: oklch(0.977 0.014 308.30);
  --color-purple-100: oklch(0.946 0.033 307.17);
  --color-purple-200: oklch(0.902 0.060 306.70);
  --color-purple-300: oklch(0.827 0.108 306.38);
  --color-purple-400: oklch(0.722 0.177 305.50);
  --color-purple-500: oklch(0.627 0.233 303.90);
  --color-purple-600: oklch(0.558 0.252 302.32);
  --color-purple-700: oklch(0.541 0.247 293.01);
  --color-purple-800: oklch(0.438 0.198 303.72);
  --color-purple-900: oklch(0.381 0.166 304.99);
  --color-purple-950: oklch(0.291 0.143 302.72);
  --color-background-primary: oklch(1.000 0.000 0.00);
  --color-background-secondary: oklch(0.984 0.003 247.86);
  --color-background-tertiary: oklch(0.968 0.007 247.90);
  --color-background-inverse: oklch(0.208 0.040 265.75);
  --color-background-brand: oklch(0.546 0.215 262.88);
  --color-background-success: oklch(0.627 0.170 149.21);
  --color-background-warning: oklch(0.646 0.194 41.12);
  --color-background-danger: oklch(0.577 0.215 27.33);
  --color-background-info: oklch(0.546 0.215 262.88);
  --color-surface-primary: oklch(1.000 0.000 0.00);
  --color-surface-secondary: oklch(0.984 0.003 247.86);
  --color-surface-raised: oklch(1.000 0.000 0.00);
  --color-surface-overlay: oklch(1.000 0.000 0.00);
  --color-surface-brand: oklch(0.970 0.014 254.60);
  --color-surface-success: oklch(0.982 0.018 155.83);
  --color-surface-warning: oklch(0.980 0.016 73.68);
  --color-surface-danger: oklch(0.971 0.013 17.38);
  --color-surface-info: oklch(0.970 0.014 254.60);
  --color-text-primary: oklch(0.279 0.037 260.03);
  --color-text-secondary: oklch(0.446 0.037 257.28);
  --color-text-tertiary: oklch(0.711 0.035 256.79);
  --color-text-disabled: oklch(0.869 0.020 252.89);
  --color-text-inverse: oklch(1.000 0.000 0.00);
  --color-text-brand: oklch(0.488 0.217 264.38);
  --color-text-success: oklch(0.527 0.137 150.07);
  --color-text-warning: oklch(0.553 0.174 38.40);
  --color-text-danger: oklch(0.505 0.190 27.52);
  --color-text-info: oklch(0.488 0.217 264.38);
  --color-border-primary: oklch(0.929 0.013 255.51);
  --color-border-secondary: oklch(0.968 0.007 247.90);
  --color-border-focus: oklch(0.623 0.188 259.81);
  --color-border-brand: oklch(0.546 0.215 262.88);
  --color-border-success: oklch(0.627 0.170 149.21);
  --color-border-warning: oklch(0.646 0.194 41.12);
  --color-border-danger: oklch(0.577 0.215 27.33);
  --color-border-info: oklch(0.546 0.215 262.88);
  --color-interactive-primary: oklch(0.546 0.215 262.88);
  --color-interactive-primary-hover: oklch(0.488 0.217 264.38);
  --color-interactive-primary-active: oklch(0.424 0.181 265.64);
  --color-interactive-secondary: oklch(0.984 0.003 247.86);
  --color-interactive-secondary-hover: oklch(0.968 0.007 247.90);
  --color-interactive-secondary-active: oklch(0.929 0.013 255.51);
  --color-interactive-success: oklch(0.627 0.170 149.21);
  --color-interactive-success-hover: oklch(0.527 0.137 150.07);
  --color-interactive-warning: oklch(0.646 0.194 41.12);
  --color-interactive-warning-hover: oklch(0.553 0.174 38.40);
  --color-interactive-danger: oklch(0.577 0.215 27.33);
  --color-interactive-danger-hover: oklch(0.505 0.190 27.52);
  --spacing-0: 0;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-8: 32px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-16: 64px;
  --spacing-20: 80px;
  --spacing-24: 96px;
  --spacing-32: 128px;
  --typography-fontfamily-sans: Inter;
  --typography-fontfamily-mono: JetBrains Mono;
  --typography-fontsize-xs: 12px;
  --typography-fontsize-sm: 14px;
  --typography-fontsize-base: 16px;
  --typography-fontsize-lg: 18px;
  --typography-fontsize-xl: 20px;
  --typography-fontsize-2xl: 24px;
  --typography-fontsize-3xl: 30px;
  --typography-fontsize-4xl: 36px;
  --typography-fontsize-5xl: 48px;
  --typography-fontsize-6xl: 60px;
  --typography-fontweight-thin: Thin;
  --typography-fontweight-light: Light;
  --typography-fontweight-normal: Regular;
  --typography-fontweight-medium: Medium;
  --typography-fontweight-semibold: SemiBold;
  --typography-fontweight-bold: Bold;
  --typography-fontweight-extrabold: ExtraBold;
  --typography-lineheight-none: 100%;
  --typography-lineheight-tight: 125%;
  --typography-lineheight-snug: 137.5%;
  --typography-lineheight-normal: 150%;
  --typography-lineheight-relaxed: 162.5%;
  --typography-lineheight-loose: 200%;
  --typography-heading-1: 36px;
  --typography-heading-2: 30px;
  --typography-heading-3: 24px;
  --typography-heading-4: 20px;
  --typography-body-large: 18px;
  --typography-body: 16px;
  --typography-body-small: 14px;
  --typography-caption: 12px;
  --borderradius-none: 0;
  --borderradius-sm: 2px;
  --borderradius-md: 6px;
  --borderradius-lg: 8px;
  --borderradius-xl: 12px;
  --borderradius-2xl: 16px;
  --borderradius-full: 9999px;
  --borderwidth-0: 0;
  --borderwidth-1: 1px;
  --borderwidth-2: 2px;
  --borderwidth-4: 4px;
  --borderwidth-8: 8px;
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 48px;
  --size-xs: 24px;
  --size-sm: 32px;
  --size-md: 40px;
  --size-lg: 48px;
  --size-xl: 64px;
  --radius-sm: 2px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-full: 9999px;
  --shadow-sm: ;
  --shadow-md: ;
  --shadow-lg: ;
  --shadow-xl: ;
  --color-badge-default-background: oklch(0.546 0.215 262.88);
  --color-badge-default-text: oklch(1.000 0.000 0.00);
  --color-badge-default-border: oklch(0.546 0.215 262.88);
  --color-badge-secondary-background: oklch(0.984 0.003 247.86);
  --color-badge-secondary-text: oklch(0.279 0.037 260.03);
  --color-badge-secondary-border: oklch(0.968 0.007 247.90);
  --color-badge-success-background: oklch(0.627 0.170 149.21);
  --color-badge-success-text: oklch(1.000 0.000 0.00);
  --color-badge-success-border: oklch(0.627 0.170 149.21);
  --color-badge-warning-background: oklch(0.646 0.194 41.12);
  --color-badge-warning-text: oklch(1.000 0.000 0.00);
  --color-badge-warning-border: oklch(0.646 0.194 41.12);
  --color-badge-destructive-background: oklch(0.971 0.013 17.38);
  --color-badge-destructive-text: oklch(0.505 0.190 27.52);
  --color-badge-destructive-border: oklch(0.577 0.215 27.33);
  --color-badge-outline-background: oklch(1.000 0.000 0.00);
  --color-badge-outline-text: oklch(0.279 0.037 260.03);
  --color-badge-outline-border: oklch(0.929 0.013 255.51);
  --badge-padding-sm: 4px;
  --badge-padding-md: 8px;
  --badge-padding-lg: 16px;
  --badge-radius: 9999px;
  --badge-font-size-sm: 12px;
  --badge-font-size-md: 14px;
  --badge-font-size-lg: 16px;
  --color-button-primary-background: oklch(0.546 0.215 262.88);
  --color-button-primary-background-hover: oklch(0.488 0.217 264.38);
  --color-button-primary-background-active: oklch(0.424 0.181 265.64);
  --color-button-primary-text: oklch(1.000 0.000 0.00);
  --color-button-primary-border: oklch(0.546 0.215 262.88);
  --color-button-secondary-background: oklch(0.984 0.003 247.86);
  --color-button-secondary-background-hover: oklch(0.968 0.007 247.90);
  --color-button-secondary-background-active: oklch(0.929 0.013 255.51);
  --color-button-secondary-text: oklch(0.279 0.037 260.03);
  --color-button-secondary-border: oklch(0.968 0.007 247.90);
  --color-button-outline-background: oklch(1.000 0.000 0.00);
  --color-button-outline-background-hover: oklch(0.984 0.003 247.86);
  --color-button-outline-text: oklch(0.488 0.217 264.38);
  --color-button-outline-border: oklch(0.546 0.215 262.88);
  --color-button-destructive-background: oklch(0.577 0.215 27.33);
  --color-button-destructive-background-hover: oklch(0.505 0.190 27.52);
  --color-button-destructive-text: oklch(1.000 0.000 0.00);
  --color-button-destructive-border: oklch(0.577 0.215 27.33);
  --button-height-sm: 32px;
  --button-height-md: 40px;
  --button-height-lg: 48px;
  --button-padding-x-sm: 16px;
  --button-padding-x-md: 24px;
  --button-padding-x-lg: 32px;
  --button-radius: 6px;
  --button-font-size-sm: 14px;
  --button-font-size-md: 16px;
  --button-font-size-lg: 18px;
  --button-shadow: ;
  --color-card-background: oklch(1.000 0.000 0.00);
  --color-card-border: oklch(0.929 0.013 255.51);
  --card-padding: 32px;
  --card-gap: 24px;
  --card-radius: 8px;
  --card-shadow: ;
  --card-header-gap: 8px;
  --card-header-title-font-size: 20px;
  --color-card-header-title-color: oklch(0.279 0.037 260.03);
  --card-header-description-font-size: 14px;
  --color-card-header-description-color: oklch(0.446 0.037 257.28);
  --card-footer-gap: 8px;
  --color-input-background: oklch(1.000 0.000 0.00);
  --color-input-background-hover: oklch(0.984 0.003 247.86);
  --color-input-border: oklch(0.929 0.013 255.51);
  --color-input-border-focus: oklch(0.623 0.188 259.81);
  --color-input-border-error: oklch(0.577 0.215 27.33);
  --color-input-text: oklch(0.279 0.037 260.03);
  --color-input-placeholder: oklch(0.711 0.035 256.79);
  --color-input-disabled-background: oklch(0.968 0.007 247.90);
  --color-input-disabled-text: oklch(0.869 0.020 252.89);
  --input-height-sm: 32px;
  --input-height-md: 40px;
  --input-height-lg: 48px;
  --input-padding-x: 16px;
  --input-radius: 6px;
  --input-font-size: 16px;
  --input-shadow: ;
}